{% extends 'base.html' %}
{% load static  %}

{% block content %}
	
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Blog</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start blog -->
	<div class="blog-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>بلاگ</h2>
						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،</p>
					</div>
				</div>
			</div>
			<div class="row">
                {% for blog in blogs %}

				<div class="col-lg-4 col-md-6 col-12">
					<div class="blog-box-inner">
						<div class="blog-img-box">
							<img class="img-fluid" src="{{blog.image.url}}" style="height:450px ;" alt="">
						</div>
						<div class="blog-detail">
							<h4>{{blog.title}}</h4>
							<ul>
								<li><span>{{blog.author}} نوشته شده توسط </span></li>
								<li>|</li>
								<li><span> {{blog.created_at}} منتشر شده در تاریخ </span></li>
							</ul>
							<p dir="rtl">{{blog.content|truncatewords:70}}</p>
							<a class="btn btn-lg btn-circle btn-outline-new-white" href = {{ blog.id }}>ادامه مقاله</a>
						</div>
					</div>
				</div>

                {% endfor  %}
			</div>
		</div>
	</div>
	<!-- End blog -->
	
	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>تلفن</h4>
						<p class="lead">
							+98 999-999-9999
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>پست الکترونیکی</h4>
						<p class="lead">
							mk212a7@gmail.com
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>موقعیت</h4>
						<p class="lead">
							ایران 
                            تهران
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->
	
{% endblock content %}
