{% extends 'base.html' %}
{% load static  %}

{% block content %}
	
	
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>بلاگ</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start blog details -->
	<div class="blog-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>{{blog.title}}</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-8 col-lg-8 col-12">
					<div class="blog-inner-details-page">
						<div class="blog-inner-box">
							<div class="side-blog-img">
								<img class="img-fluid" src="{{blog.image.url}}" alt="">							
							</div>
							<div class="inner-blog-detail details-page">
								<h3>{{blog.description}}</h3>
								<ul>
									<li><i class="zmdi zmdi-account"></i><span>{{blog.author}}</span>: نوشته شده توسط  </li>
									<li>|</li>
									<li><i class="zmdi zmdi-time"></i><span> {{blog.created_at }}</span>: تاریخ انتشار </li>
								</ul>
								<p dir="rtl">{{blog.content}}</p>
								
							</div>
						</div>
						<div class="blog-comment-box">
							<h3>نظرات</h3>
                            {% for cm in  comments  %}

                                <div class="comment-item">
								<div class="comment-item-left">
									<img src="images/avt-img.jpg" alt="">
								</div>
								<div class="comment-item-right">
									<div class="pull-left">
										<a href="#">{{ cm.name }}</a>
									</div>
									<div class="pull-right">
										<i class="fa fa-clock-o" aria-hidden="true"></i><span>  {{ cm.date }}  </span>
									</div>
									<div class="des-l">
										<p>{{ cm.message }}</p>
									</div>
									<a href="#" class="right-btn-re"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
								</div>
							</div>
                            {% endfor %}
                            
					<!--		<div class="comment-item children">
								<div class="comment-item-left">
									<img src="images/avt-img.jpg" alt="">
								</div>
								<div class="comment-item-right">
									<div class="pull-left">
										<a href="#">Admin</a>
									</div>
									<div class="pull-right">
										<i class="fa fa-clock-o" aria-hidden="true"></i>Time : <span>1.30 pm</span>
									</div>
									<div class="des-l">
										<p>Morbi lacinia ultrices lorem id tincidunt. Cras id dui risus. Pellentesque consectetur id mi sed pharetra. Proin imperdiet gravida nisl, sit amet varius urna. In auctor.</p>
									</div>
									<a href="#" class="right-btn-re"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
								</div>
							</div> -->
						</div>
						<div class="comment-respond-box">
							<h3>Leave your comment </h3>
							<div class="comment-respond-form">
								<form id="commentrespondform" class="comment-form-respond row" method="post">
                                    {% csrf_token %}
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<input id="name_com" class="form-control" name="name" placeholder="Name" type="text">
										</div>
										<div class="form-group">
											<input id="email_com" class="form-control" name="email" placeholder="Your Email" type="email">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<textarea class="form-control" name="message" id="textarea_com" placeholder="Your Message" rows="2"></textarea>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<button class="btn btn-submit">Submit comment</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12 blog-sidebar">
					<div class="right-side-blog">
						<h3>Search</h3>
						<div class="blog-search-form">
							<input name="search" placeholder="Search blog" type="text">
							<button class="search-btn">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
						</div>
						<h3>دسته بندی ها </h3>
						<div class="blog-categories">
							<ul>
                            {% for cat in categories %}
								<li><a href="#"><span>{{cat.title}}</span></a></li>
                            {% endfor %}
							</ul>
						</div>
						<h3>پست های اخیر</h3>
						<div class="post-box-blog">
							<div class="recent-post-box">

                                {% for blog in recents %}
                                <div class="recent-box-blog">
                                <div class="recent-img">
                                    <img class="img-fluid" src="{{blog.image.url}}" style="height:70px ; width: 70px;"  alt="">
                                </div>
                                <div class="recent-info">
                                    <ul>
                                        <li><span>{{blog.author}} نوشته شده توسط </span></li>
                                        <li>|</li>
                                        <li><span> {{blog.created_at}} منتشر شده در تاریخ </span></li>
                                    </ul>
                                    <h4>{{blog.content|truncatewords:30}}</h4>
                                 </div>
                                 </div>
                                {% endfor %}
							</div>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
	<!-- End details -->
	
	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>تلفن</h4>
						<p class="lead">
							+98 999-999-9999
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>پست الکترونیکی</h4>
						<p class="lead">
							mk212a7@gmail.com
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>موقعیت</h4>
						<p class="lead">
							ایران 
                            تهران
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->
{% endblock content %}
